@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.row {
    display: flex;
}
.font1 {
    font-family: 'Rozha One', serif;
}
.font2 {
    font-family: 'Bagel Fat One', system-ui;
}
.font3 {
    font-family: 'Allerta', sans-serif;
}